<h4>Formularios <small> template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" type="text" name="nombre"
                    [class.is-invalid]="nombre.invalid && nombre.touched" [ngModel]="usuario.nombre"
                    placeholder="Nombre" required minlength="3" #nombre="ngModel">
                <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Ingrese 3 letras</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control" type="text" name="apellido" [ngModel]="usuario.apellido"
                    [class.is-invalid]="apellido.invalid && apellido.touched" placeholder="Apellido" required
                    minlength="3" #apellido="ngModel">
                <small *ngIf="apellido.invalid && apellido.touched" class="form-text text-danger">Ingrese 3
                    letras</small>

            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">
            <input class="form-control" type="email" name="correo" placeholder="Correo electrónico"
                [class.is-invalid]="correo.invalid && correo.touched" [ngModel]="usuario.correo"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required #correo="ngModel">
            <small *ngIf="correo.invalid && correo.touched" class="form-text text-danger">Correo obligatorio</small>

        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
                Guardar
            </button>
        </div>
    </div>

</form>